.container {
  display: block;
  position: relative;
}

.label {
  display: block;
  margin: 0 0 5px 0;
}

.control {
  display: block;
  padding: 4px 11px;
  height: 36px;
  width: 100%;
  border: 1px solid #e0e0e0;
  background-color: transparent !important;
  font-size: 1em;
  box-sizing: border-box;
}

.control:hover {
  border: 1px solid #2f2f2f;
}

.control:focus {
  border: 1px solid #050505;
}

.showPasswordButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 0;
  font-size: 0.7em;
  padding: 0;
  float: right;
  margin: 4px 0 0 0;
}
