html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background-color: #fffcf4;
}

.language-selector {
  display: flex;
  justify-content: flex-end;
  padding: 16px 50px 0 0;
}
